server:
  port: 6011
spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: localhost #服务地址
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka # eureka服务端地址，将来客户端使用该地址和eureka进行通信
#       defaultZone: ${url}
    register-with-eureka: false  #是否将自己的路径注册到eureka
    fetch-registry: false  #是否需要从eureka中抓取路径